<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions localisation -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permission appareil photo -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <!-- Permission localisation en arrière-plan (optionnelle, android 10+) -->
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        android:required="false" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:theme="@null"
        android:icon="@mipmap/ic_launcher"
        android:label="ShrooML">

        <!-- Lancement de l'application : SplashActivity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashBackground"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- LoginActivity pour l'authentification -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- RegisterActivity pour l'inscription -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- ShroomLocateActivity -->
        <activity
            android:name=".ShroomLocateActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- QuizActivity -->
        <activity
            android:name=".QuizActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".ShroomDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- IdentifyActivity -->
        <activity
            android:name=".IdentifyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".IdentifyDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- TestActivity pour les tests de prédiction -->
        <activity
            android:name=".activities.TestActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>
</manifest>